
<div id="map" style="width:900px; height:350px;"></div>
 
<script id="dxss_myCode2" type="text/javascript">
    window.initMap = function () {
        var uluru = { lat: @ViewData["Latitud"], lng: @ViewData["Longitud"] };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    };

    MVCxClientGlobalEvents.ControlsInitialized.AddHandler(function (s, e) {
        initMap();
    });
</script>

<script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc18sN0gVECb_pyMbRd9Qu3sVO7cSqqE4"></script>


@*var uluru = { lat: -3.9301617, lng: 40.3216975   };
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
            center: new google.maps.LatLng(40.3216975, -3.9301617),
            zoom: 8,
            tilt: 30,
            zoomControl: true,
            panControl: false,
            streetViewControl: false
        };
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.3216975, -3.9301617),
            map: mapCanvas
        });
        var map = new google.maps.Map(mapCanvas, mapOptions);*@