@using TelematWeb.Areas.Admin.Models.FormsViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Bases de Repostaje</h2>

<script type="text/javascript">

    function OnGridFocusedRowChanged(s, e) {
        alert('Estamos en la primera funcion');
        s.GetRowValues(s.GetFocusedRowIndex(), 'Nombre;Latitud;Longitud', OnGetRowValues);
    }

    function OnGetRowValues(values) {
        alert('Estamos en la base: ' + values[0] + ' ' + values[1] + ',' + values[2]);
        document.getElementsByName("nombre").value =  values[0];
        
    }

</script>
<div >
    @Html.Action("GridViewBasesPartial")    
</div>
<br />
<br />
 
<div >
    @Html.Action("CargaMapa", new
{
    item = new MarkerMapBase
    {
        Nombre = "Argabus",
        Latitud = "40.297166",
        Longitud = "-3.429771"
    }
    }))
</div>

